body{
    font: arial;
}
/*----------grid*/
.container{
    display: grid;
    grid-template: 50px 300px 300px 400px 500px 500px 130px /  1fr;
    margin: 0px 100px;
}
.item{
    padding: 10px;
    
}
.sub_container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}
.item:nth-of-type(5){
    display: grid;
    grid-template-rows: 50px 1fr;
}
/*----------fin grid*/
/*---------- inicio cont 1*/
.texto{
    margin: 2px;
    width: 350px;
    height: 150px;
    position: relative;
    left: 50px;
    text-align: center;
}
.button_1{
    align-items: center;
    text-align: center;
    width: 200px;
    height: 30px;
    left: 500px;
    position: relative;
    left: 120px;
    padding: 2px;
    border-radius: 85px;
    border: solid 1px black;
    
}
/*----------fin cont 1*/
/*----------inicio herramientas*/
.texto_1{
    text-align: right;
    width: 80%;
    font: Bold 22px/30px Helvetica;
    letter-spacing: 0px;
    color: #050505;
    opacity: 1;
    margin: 0px;
}
.herraminetas{
    width: 75%;
    height: 150px;
    display: flex;
    
    margin-left: 100px;
    justify-content: space-between;
    align-items: center;
}
.ob_herraminetas{
    width: 100px;
    height: 100px;
    border: #050505;
    padding-left: 5px;
    
}
.textos_herr{
    width: 80%;
    height: 150px;
    display: flex;
    margin-left: 80px;
    justify-content: space-between;
    align-items: center;
}
.textos_2{
    width: 200px;
    height: 100px;
    text-align: center;

}
/*----------fin herramientas*/
/*----------inicio nosotros*/
.img_nosotros{
    width: 500px;
    height: 300px;
    border: solid 1px black;
    margin: 10px;
}
.text_nosotros{
    width: 500px;
    height: 300px;
    margin: 10px;
    text-align: center;
    position: relative;
    top: 80px;
}
.text_nosotros p{
    text-align: justify;
}
/*----------fin nosotros*/
/*----------inicio explora lo mejor*/
.menu_explora{
    display: flex;
    align-items: center;
    
}
.obMenu_explora a{
    float: left;
    font: Light 20px/30px Helvetica;
    margin: 0px 50px;
    font-size: 20px;
}
/*----------fin explora lo mejor*/
/*----------inicio explora tu mente/creatividad*/
.texto_exp2{
    margin-left: 25%;
    margin-top: 10%;
}
.img_explora_2{
    height: 300px;
    width: 300px;
    margin-left: 18%;
    border: solid 1px black;
}s
.texto2_exp2{
    width: 280px;
    margin-left: 20.5%;
    text-align: center;
}
/*----------fin explora tu mente/creatividad*/
